{% extends "base.html" %}

{% block content %}
    <div class="chat-container">
        <div class="chat-body" id="messages">

        </div>
        <div class="chat-footer">
            <form id="form">
                {% csrf_token %}

                <input type="text" class="textbox" placeholder="Type a message..." name="message" id="message">

            </form>
        </div>
    </div>

    <script type="text/javascript">

        let url = `ws://${window.location.host}/ws/socket-server/`

        const chatSocket = new WebSocket(url)

        chatSocket.onmessage = function(e){
            let data = JSON.parse(e.data)

            if(data.type === "chat-user"){
                let messages = document.getElementById("messages")

                messages.insertAdjacentHTML("beforeend",`<div class="message toright"><div class="user-message"><p>${data.message}</p></div></div>`)
            }
            else if(data.type === "chat-bot"){
                let messages = document.getElementById("messages")

                messages.insertAdjacentHTML("beforeend",`<div class="message toleft"><div class="bot-message"><p>${data.message}</p></div></div>`)
            }
        }

        let form = document.getElementById("form")

        form.addEventListener("submit", (e)=> {
            e.preventDefault()
            let message = e.target.message.value
            chatSocket.send(JSON.stringify({
                "message":message
            }))
            form.reset()
        })

    </script>

{% endblock content %}