<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot Project</title>
</head>
<body>

    <table>
        <tr>
            <td><strong>request</strong></td>
            <td><strong>response</strong></td>
        </tr>
        {% for request,response in data.items %}
            <tr>
                <td><strong>{{ request }}</strong></td>
                <td><strong>{{ response }}</strong></td>
            </tr>
        {% endfor %}
    </table>


</body>
</html>